.container {
  @apply min-h-screen;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .main {
    @apply relative h-screen px-32;

    .header {
      @apply absolute py-16 text-2xl font-medium;
    }

    .presentation {
      @apply relative flex h-full flex-col justify-center gap-16;

      .title {
        @apply text-12xl font-medium leading-tight;

        .salutation {
          @apply font-emphasis italic;
        }
      }

      .subtitle {
        @apply pr-64 text-6xl font-light leading-relaxed;
      }
    }
  }
}
