.container {
  @apply min-h-screen;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .main {
    @apply relative h-screen;

    .background {
      @apply absolute h-full w-full bg-cover object-cover;
    }

    .presentation {
      @apply relative flex h-full flex-col justify-center gap-16 p-64;

      .title {
        @apply text-9xl font-medium leading-tight;

        .salutation {
          @apply font-emphasis italic;
        }
      }

      .subtitle {
        @apply pr-64 text-3xl font-light leading-relaxed text-black;
      }
    }
  }
}
