@use "src/styles/typography";

.Experience {
  @apply flex flex-col gap-16 overflow-hidden pt-64 md:gap-32;
  @apply px-16 md:px-32;

  .title {
    @apply font-light leading-relaxed;
    @include typography.title-small;

    .overline {
      @apply font-light;
      @include typography.overline;
      font-variant: tabular-nums;
    }
  }

  .timeline {
    @apply grid grid-rows-[auto] gap-y-4;
    // a separator
    // b separator
    // c separator
    // d separator
    @apply grid-cols-[1fr_0] [grid-template-areas:"a_separator""b_separator""c_separator""d_separator"];
    // a b separator
    // c d separator
    @apply md:grid-cols-[1fr_1fr_0] md:px-0 md:[grid-template-areas:"a_b_separator""c_d_separator"];
    // a b b separator  .
    // . . c .          d
    @apply xl:gap-y-16;
    @apply xl:grid-cols-[3fr_2fr_0.5fr_0_1fr] xl:[grid-template-areas:"a_b_b_separator_.""._._c_._d"];

    :global {
      .ExperienceEntry__footer {
        &__indicatorStart {
          @apply transform md:-translate-x-1/2;
        }

        &__indicatorEnd {
          @apply transform md:translate-x-1/2;
        }
      }
    }

    .area1 {
      grid-area: a;
    }

    .area2 {
      grid-area: b;
    }

    .area3 {
      grid-area: c;
    }

    .area4 {
      grid-area: d;
    }

    .separator {
      @apply mt-8 -mb-32 w-1 overflow-visible;
      @apply xl:border-l xl:border-contrast;
      grid-area: separator;
    }
  }
}
