.Contacts {
  @apply gap-8 px-16 py-32 text-body md:px-32 xl:text-body-xl;

  display: grid;
  grid-template-areas:
    "title  contacts"
    "title  separator"
    "title  socials";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto 1fr;

  .title {
    @apply text-subtitle font-light leading-relaxed lg:text-subtitle-lg xl:text-subtitle-xl 2xl:text-subtitle-2xl;
    grid-area: title;
  }

  .contacts,
  .socials {
    @apply flex flex-col gap-4;

    a {
      @apply whitespace-nowrap transition-colors hover:text-accent;

      span {
        vertical-align: -0.125em;
      }
    }
  }

  .contacts {
    grid-area: contacts;
  }

  .separator {
    @apply border-b border-contrast;
    grid-area: separator;
  }

  .socials {
    grid-area: socials;
  }
}
