@use "src/styles/typography";

.Contacts {
  @apply grid px-16 py-64 md:px-32;
  @apply grid-cols-[1fr] [grid-template-areas:"title""contacts""socials"];
  @apply md:grid-cols-[1fr_1fr] md:[grid-template-areas:"title_contacts""title_socials"];

  @include typography.body;

  .title {
    @apply pb-16 font-light leading-relaxed;
    @apply md:border-r md:border-contrast md:pb-0;
    @include typography.subtitle;

    grid-area: title;
  }

  .contacts,
  .socials {
    @apply flex flex-col gap-4;

    a {
      @apply whitespace-nowrap transition-colors hover:text-accent;

      span {
        vertical-align: -0.125em;
      }
    }
  }

  .contacts {
    @apply border-b border-contrast pb-8;
    @apply md:pl-8;
    grid-area: contacts;
  }

  .socials {
    @apply pt-8;
    @apply md:pl-8;
    grid-area: socials;
  }
}
